@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url(../img/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: 100vh;
    position: relative;
}

section#telefone{
    height: 625px;
    width: 309px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../img/frame-iphone.png) no-repeat;
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 472px;
}

section#midias-sociais{
    text-align: right;
}

section#midias-sociais img{
    margin: 30px 20px 0px 20px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #0000004d;
}


section#midias-sociais img:hover{
    border: 3px solid rgb(255, 255, 255);
    transform: translate(-2px, -2px);
    transition: transform .2s, border .3s;
}

